<div class="container">

    <!-- <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update problem</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="dateOfBirth">Problem name</label>
                    <input type="text" class="form-control" name="name" [value]="selectedProblem.name"
                        (input)="selectedProblem.name = $event.target.value" />
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" (click)="modal.close('Save click')">Save</button>
        </div>
    </ng-template> -->


    <div class="row align-items-center">
        <div class="col-2 mt-3 mb-3">
            <label for="qualitySelect" class="me-2 mb-2"><b>Level :</b></label>

            <select class="form-select form-select-sm" [(ngModel)]="preference.level"
                (ngModelChange)="updatePreferences('level', $event)">
                <option *ngFor="let num of numbers" [value]="num">
                    <ng-container *ngIf="num === 0; else showNum">{{ 'All' }}</ng-container>
                    <ng-template #showNum>{{ num }}</ng-template>
                </option>
            </select>
        </div>

        <div class="col-1 ms-auto text-right">
            <button type="button" class="btn btn-random">Random</button>
        </div>
    </div>

    <ng-container>
        <div class="row">
            <div class="col-md-4">
                <b style="color: orangered"><span *ngIf="preference.level">Level {{ preference.level }}</span> Progress
                    ( {{filteredDoneProblems}} of {{filteredTotalProblems}} -
                    Remaining {{filteredTotalProblems-filteredDoneProblems}} ) : </b>
            </div>
            <div class="col-md-8" style="margin-top: 5px;">
                <ngb-progressbar class="mb-3" type="warning" [value]="filteredDonePercent" [striped]="true"
                    [animated]="true">
                    <i>{{filteredDonePercent}} %</i>
                </ngb-progressbar>
            </div>
        </div>
    </ng-container>

    <div ngbAccordion [closeOthers]="true">
        @for (category of filteredSyllabus; track category) {
        <div ngbAccordionItem [collapsed]="category.category_slug !== preference.category">
            <h2 ngbAccordionHeader>
                <button ngbAccordionButton class="d-flex justify-content-between align-items-center w-100">
                    <div class="col-md-3">
                        <span class="ms-2"> {{ category.category_name }} ( {{ category.doneProblems }} / {{
                            category.totalProblems
                            }} )</span>
                    </div>
                    <div class="col-md-8" style="margin-top: 5px;">
                        <ngb-progressbar class="" type="primary" [value]="category.donePercent" [striped]="true"
                            [animated]="true">
                            <i>{{category.donePercent}} %</i>
                        </ngb-progressbar>
                    </div>
                </button>
            </h2>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <ng-template>

                        <!-- Nested Accordion for Subcategories -->
                        <div ngbAccordion [closeOthers]="true">
                            @for (subcategory of category.subcategories; track subcategory) {
                            <div ngbAccordionItem [collapsed]="subcategory.subcategory_slug !== preference.subcategory">
                                <h2 ngbAccordionHeader>
                                    <button ngbAccordionButton>
                                        <!-- <input class="form-check-input" type="checkbox" /> -->
                                        <span class="ms-2"> {{ subcategory.subcategory_name }}
                                            ( {{subcategory.doneProblems}} / {{subcategory.totalProblems}} )</span>
                                    </button>
                                </h2>
                                <div ngbAccordionCollapse>
                                    <div ngbAccordionBody>
                                        <ng-template>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Status</th>
                                                        <th class="text-center">Difficulty</th>
                                                        <th>Problem</th>
                                                        <th class="text-center">Article</th>
                                                        <th class="text-center">Video</th>
                                                        <th class="text-center">Tuf+</th>
                                                        <th class="text-center">GFG</th>
                                                        <th class="text-center">CN</th>
                                                        <th class="text-center">LC</th>
                                                        <!-- <th class="text-center">Last Updated</th> -->
                                                        <th class="text-center">Revision</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @for (problem of subcategory.problems; track problem) {
                                                    <tr>
                                                        <td class="text-center">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="checkbox"
                                                                    [(ngModel)]="problem.isDone"
                                                                    (change)="onCheckboxChange($event, problem, problem.problem_id, 'done')">
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <span *ngIf="problem.difficulty == '1'"
                                                                class="badge bg-success">Easy</span>
                                                            <span *ngIf="problem.difficulty == '2'"
                                                                class="badge bg-warning">Medium</span>
                                                            <span *ngIf="problem.difficulty == '3'"
                                                                class="badge bg-danger">Hard</span>
                                                        </td>
                                                        <td>
                                                            <!-- <a href="javascript:void" (click)="open(content, problem)">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                    viewBox="0 0 24 24" width="24px" height="24px">
                                                                    <path fill="#7D7F7D"
                                                                        d="M 18 2 L 15.585938 4.4140625 L 19.585938 8.4140625 L 22 6 L 18 2 z M 14.076172 5.9238281 L 3 17 L 3 21 L 7 21 L 18.076172 9.9238281 L 14.076172 5.9238281 z" />
                                                                </svg>
                                                            </a> -->

                                                            {{ problem.problem_name }}

                                                        </td>
                                                        <td class="text-center">
                                                            <a *ngIf="problem.post_link" [href]="problem.post_link"
                                                                target="_blank">
                                                                <img src="/assets/images/article.svg">
                                                            </a>
                                                        </td>
                                                        <td class="text-center td-content">
                                                            <a *ngIf="problem.yt_link" [href]="problem.yt_link"
                                                                target="_blank">
                                                                <img src="/assets/images/yt.svg">
                                                            </a>

                                                            <ng-container
                                                                *ngFor="let link of problem.videos_link; let i = index">
                                                                <a [href]="link" target="_blank">
                                                                    <span class="badge bg-primary">{{ i + 1
                                                                        }}</span>
                                                                </a>
                                                            </ng-container>
                                                        </td>
                                                        <td class="text-center">
                                                            <a *ngIf="problem.tufplus_link"
                                                                [href]="problem.tufplus_link" target="_blank">
                                                                <img src="/assets/images/tufplus.svg">
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a *ngIf="problem.gfg_link" [href]="problem.gfg_link"
                                                                target="_blank">
                                                                <img src="/assets/images/gfg.svg">
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a *ngIf="problem.cs_link" [href]="problem.cs_link"
                                                                target="_blank">
                                                                <img src="/assets/images/csninja.png" width="30">
                                                            </a>
                                                        </td>
                                                        <td class="text-center">
                                                            <a *ngIf="problem.lc_link" [href]="problem.lc_link"
                                                                target="_blank">
                                                                <img src="/assets/images/lc.svg">
                                                            </a>
                                                        </td>
                                                        <!-- <td class="text-center">{{ problem.isDone | date: 'MMM dd,
                                                            h:mm a'
                                                            }}
                                                        </td> -->
                                                        <td class="text-center"></td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>

                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>

                    </ng-template>
                </div>
            </div>
        </div>
        }
    </div>
</div>